[project]
	description = Source
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hristo Manchev (hmanchev)
[access "refs/for/refs/*"]
	read = group user/Hristo Manchev (hmanchev)
	push = group user/Hristo Manchev (hmanchev)
	label-Code-Review = -2..+2 group user/Hristo Manchev (hmanchev)
	label-Verified = -1..+1 group user/Hristo Manchev (hmanchev)
	rebase = group user/Hristo Manchev (hmanchev)
	removeReviewer = group user/Hristo Manchev (hmanchev)
	submit = group user/Hristo Manchev (hmanchev)
[access "refs/heads/*"]
	read = group user/Hristo Manchev (hmanchev)
	create = group user/Hristo Manchev (hmanchev)
	push = +force group user/Hristo Manchev (hmanchev)
	pushMerge = group user/Hristo Manchev (hmanchev)
[access "refs/tags/*"]
	push = +force group user/Hristo Manchev (hmanchev)
	pushTag = group user/Hristo Manchev (hmanchev)
	pushSignedTag = group user/Hristo Manchev (hmanchev)
